body {
  margin: 0;
  padding: 0;
  background: linear-gradient(100deg, #1de5e2, #8588f7);
  height: 100vh;
  overflow: hidden;
  font-family: arial;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: roboto;
}

.form-group {
  font-family: roboto;
}

.card-body {
  font-family: roboto;

}

.card1 {
  font-family: arial;
  font-style: italic;
  font-weight: bold;
}